{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>

    var TRIPLE_WORD_SCORE = [[0,0], [7, 0], [14,0], [0, 7], [14, 7], [0, 14], [7, 14], [14,14]]
    var DOUBLE_WORD_SCORE = [[1,1], [2,2], [3,3], [4,4], [1, 13], [2, 12], [3, 11], [4, 10], [13, 1], [12, 2], [11, 3], [10, 4], [13,13], [12, 12], [11,11], [10,10]]
    var TRIPLE_LETTER_SCORE = [[1,5], [1, 9], [5,1], [5,5], [5,9], [5,13], [9,1], [9,5], [9,9], [9,13], [13, 5], [13,9]]
    var DOUBLE_LETTER_SCORE = [[0, 3], [0,11], [2,6], [2,8], [3,0], [3,7], [3,14], [6,2], [6,6], [6,8], [6,12], [7,3], [7,11], [8,2], [8,6], [8,8], [8, 12], [11,0], [11,7], [11,14], [12,6], [12,8], [14, 3], [14, 11]]

    //letters and points should be defined on server side for checks
    var letters = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
    var points  = [ 1 ,  3 ,  3 ,  2 ,  1 ,  4 ,  2 ,  4 ,  1 ,  8 ,  5 ,  1 ,  3 ,  1 ,  1 ,  3 ,  10,  1 ,  1 ,  1 ,  1 ,  4 ,  4 ,  8 ,  4 ,  10] //Only needed on client for displaying points of word placed on board pre-submit
    var points_map = Object.assign.apply({}, letters.map((v,i) => ( {[v]: points[i]}) ) );
    var scrabble_values = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", ' ','2L','2W','3L','3W']

    var previous_board_state = [['3W','','','2L','','','','3W','','','','2L','','','3W'],['','2W','','','','3L','','','','3L','','','','2W',''],['','','2W','','','','2L','','2L','','','','2W','',''],['2L','','','2W','','','','2L','','','','2W','','','2L'],['','','','','2W','','','','','','2W','','','',''],['','3L','','','','3L','','','','3L','','','','3L',''],['','','2L','','','','2L','','2L','','','','2L','',''],['3W','','','2L','','','','','','','','2L','','','3W'],['','','2L','','','','2L','','2L','','','','2L','',''],['','3L','','','','3L','','','','3L','','','','3L',''],['','','','','2W','','','','','','2W','','','',''],['2L','','','2W','','','','2L','','','','2W','','','2L'],['','','2W','','','','2L','','2L','','','','2W','',''],['','2W','','','','3L','','','','3L','','','','2W',''],['3W','','','2L','','','','3W','','','','2L','','','3W']];
    var input_points = []

    var game_started = false;
    var is_user_turn = false;
    var current_turn = 0;
    var user1 = '';
    var user2 = '';
    var user3 = '';
    var user4 = '';

    var user_num = false;

    var username = '{{ user.username}}'
    var id = '{{ user.id }}'


    $(document).ready(function(){

        var scrabble_input_test = new RegExp('^[A-Za-z](-([1-9]|[1][0-5])){2}$'); //regex should be repeated server side
        var scrabble_input;
        var scrabble_word = [];
        var next_word;
        var old_cell_value;
        var new_letter;
        var new_row;
        var new_col;
        var word_multiplier = 1;
        var letter_multiplier = 1;
        var predicted_score = 0; //Only for display, actually calculated on server
        var double_letters = [];
        var triple_letters = [];
        var double_words = [];
        var triple_words = [];
        var empty_board = true;
        var move_points = 0;
        var user_score = 0;

        let game_url = window.location.href;
        let game_url_split = game_url.split('/');
        var game_id = game_url_split.pop();
        if(!game_id) { game_id = game_url_split.pop();}




        //Check if row/col pair is in list of value spaces
        function array_IndexOf_2D(arr, pair){
          for(var r = 0; r<arr.length; r++){
            let check = false;
            for(var c = 0; c<arr[r].length; c++){
              if(arr[r][c] == pair[c]){
                check = true;
              }
              else{
                check = false;
                break;
              }
            }
            
            if(check){ return true;}
          }
          return false;
        }


        //Poll server for which user's turn it is with timeout. If server says current turn belongs to the client's username, set is_user_turn to true, otherwise set to false
        (function check_for_turn_change() {

          url = 'https://swe681project.com/game/turn/' + game_id;
          $.ajax({
            url: url, 
            success: function(data) {
              if(!data) { 
                return;
              }
              if(data == 'game_not_started') { return false;}

              if(data.turn == current_turn) { return false;}
              current_turn = data.turn;

              if(!data.board){return false;}

              if(!game_started) {
                  game_started = true;
                  if(data.client1) {
                      user1 = data.client1;
                      $("#user1").text(data.client1);
                      $("#score1").text(data.score_1);
                  }
                  if(data.client2) {
                      user2 = data.client2;
                      $("#user2").text(user2);
                      $("#score2").text(data.score_2);
                  }
                  if(data.client3) {
                      user3 = data.client3;
                      $("#user3").text(user3);
                      $("#score3").text(data.score_3);
                  }
                  if(data.client4) {
                      user4 = data.client4;
                      $("#user4").text(user4);
                      $("#score4").text(data.score_4);
                  }

              }

              if(id == data.client1){
                  user_num = 1;
                  $("#user1").css("font-weight", "bold");
              }
              else if(id == data.client2){
                  user_num = 2;
                  $("#user2").css("font-weight", "bold");
              }
              else if(id == data.client3){
                  user_num = 3;
                  $("#user3").css("font-weight", "bold");
              }
              else if(id == data.client4){
                  user_num = 4;
                  $("#user4").css("font-weight", "bold");
              }


              if(data.turn == user_num) {
                is_user_turn = true;
              }
              else {
                is_user_turn = false;
              }

              if(data.turn == 1) { $("#user1").css("font-size", 25);}
              else { $("#user1").css("font-size", '');}
              if(data.turn == 2) { $("#user2").css("font-size", 25);}
              else { $("#user2").css("font-size", '');}
              if(data.turn == 3) { $("#user3").css("font-size", 25);}
              else { $("#user3").css("font-size", '');}
              if(data.turn == 4) { $("#user4").css("font-size", 25);}
              else { $("#user4").css("font-size", '');}

              input_board = get_board(data.board);

              //check if board needs to be read into an array
              set_board(input_board);              

            },
            complete: function() {
              // Schedule the next request when the current one is complete
              setTimeout(check_for_turn_change, 5000);
            }
          });
        })();

        //calculate score function
        function calculate(){
            var points = 0;
            var letter_values = [];

            var word_orientation = false;


          //check if input is vertical word, horizontal word, or invalid
            var rows_in_input = [];
            var cols_in_input = [];
            
            //collect lists of input rows and cols
            $.each(input_points, function(index, value) {
              row = value[1];
              col = value[2];
              rows_in_input.push(row);
              cols_in_input.push(col);
            })

            //check if the input had multiple rows (implies its a vertical word)
            var temp_row = rows_in_input[0];
            $.each(rows_in_input, function(index, value) {
              if(temp_row != value) {
                word_orientation = 'vertical';
                return false; //return false in a each loop is actually a break
              }
            })

            //check if the input had multiple cols, but only 1 row (horizontal word)
            var temp_col = cols_in_input[0];
            $.each(cols_in_input, function(index, value) {
              if(temp_col != value) { 
                if(word_orientation == 'vertical') {
                  alert('invalid word');
                  word_orientation = 'invalid';
                  input_points.pop();
                  set_table_value(old_cell_value, new_row, new_col);
                  return false;
                }
                word_orientation = 'horizontal';
              }
            })

            if(word_orientation == 'invalid') { return false;}


            move_points = calculate_points(input_points, word_orientation);


            //var move_points = points;
            document.getElementById("move_points").innerHTML = move_points;
        }

//calculates points for word and all connected words
        function calculate_points(input_word, word_orientation){
          var word_score = 0;

          var row = input_word[0][1];
          var col = input_word[0][2];

          var connected_words = [];

          var word;

          //Find the full word in the row/column and send to the calculate_points function
          if(word_orientation == 'horizontal') {
            word = find_word_in_row(new_row, new_col);
          }
          else {
            word = find_word_in_col(new_row, new_col); 
            if(word.length <=1) { //if word is length 1, wrong direction chosen
              word_orientation = 'horizontal';
              word = find_word_in_row(new_row, new_col);
            }
          }


          //loop through word and store the connected words

          $.each(input_word, function(index, value) {
            letter = value[0];
            row = value[1];
            col = value[2];

            if(word_orientation == 'horizontal') {
              connected_word = find_word_in_col(row,col);
            }
            else { //if(word_orientation == 'vertical') {
              connected_word = find_word_in_row(row,col);
            }
/*            else {

              connected_word1 = find_word_in_col(row,col);
              connected_word2 = find_word_in_row(row,col);
              if(connected_word1.length > 1) {
                connected_words.push(connected_word1);
              }
              if(connected_word2.length > 1) {
                connected_words.push(connected_word2);
              }
              return false; //break out of each statement
            }
*/              

            if(connected_word.length > 1) {
            
              connected_words.push(connected_word); //push letter to word array
            }
          })              


          //mark multipliers for newest letter
          row = new_row;
          col = new_col;
          if(array_IndexOf_2D(TRIPLE_LETTER_SCORE, [row,col])){
            triple_letters.push([row,col]);
          }
          else if(array_IndexOf_2D(DOUBLE_LETTER_SCORE,[row,col])){
            double_letters.push([row,col]);
          }
          else if(array_IndexOf_2D(DOUBLE_WORD_SCORE,[row,col])){
            double_words.push([row,col]);
          }
          else if(array_IndexOf_2D(TRIPLE_WORD_SCORE,[row,col])){
            triple_words.push([row,col])
          }

          var word_points = 0;  

          //Calculate score of main word and apply modifiers in main word
          $.each( word, function(index, value) {
            letter = value[0];
            row = value[1];
            col = value[2];
            letter_score = parseInt(points_map[letter]);


            if(array_IndexOf_2D(triple_letters, [row,col])){
              letter_score *= 3;
            }
            else if(array_IndexOf_2D(double_letters,[row,col])){
              letter_score *= 2;
            }


            word_points += letter_score;
          })
/*
          alert('double mod');
          alert(double_words.length);
          alert(2**double_words.length);
          alert('triple mod');
          alert(triple_words.length);
          alert(3**triple_words.length);
*/

          //Multiply word modifiers to main word score
          word_points *= 2**double_words.length * 3**triple_words.length;

          //calculate score of connected_words
          $.each(connected_words, function(index, single_word) {

            var triple_multiplier = 1;
            var double_multiplier = 1;
            var connected_word_points = 0;

            $.each(single_word, function(index, value) {
              letter = value[0];
              row = value[1];
              col = value[2];
              letter_score = parseInt(points_map[letter]);

              if(array_IndexOf_2D(triple_letters, [row, col])) {
                letter_score *= 3;
              }
              else if(array_IndexOf_2D(double_letters, [row, col])) {
                letter_score *= 2;
              }

                
              if(array_IndexOf_2D(triple_words, [row, col])) {
                triple_multiplier *= 3;
              }
              if(array_IndexOf_2D(double_words, [row, col])) {
                double_multiplier *= 2;
              }

              connected_word_points += letter_score

            }) //end $.each(single_word, function(index, value)

            connected_word_points *= triple_multiplier * double_multiplier;

            word_points += connected_word_points;

          }) //end $.each(connected_words, function(index, single_word)
        
          /*           
          alert('list of connected words');
          alert(connected_words);
          alert('total points');
          alert(word_points);
          */
          return word_points;
        } //end function calculate_points(word, word_orientation)

        //validate input position function
          //inputs: row/col of all input letters
          //check: 4 surrounding points of any input letter need to have a valid pre-placed letter
          //output: true/false

       //Submit button function
         //inputs: all row/col pairs of input points
         //Checks validate input position function 
         //Sends inputs to server
         //Waits for server response (timeout 10s)
           //If server says valid move:
             //updates local score display with server response
           //else: restart turn

        $("#WordForm").submit(function(){
          event.preventDefault();

          if(!is_user_turn){ 
            alert('You cannot do things when its not your turn');
            return false;
          }

            input_points = [];
            double_letters = [];
            double_words = [];
            triple_letters = [];
            triple_words = [];

            document.getElementById("move_points").innerHTML = 0;

            record_board_state();

            url = 'https://swe681project.com/game/' + game_id + '/input/'

            $.ajax({
              url: url,
              type: $(this).attr('method'),
              data: { id:game_id, word: scrabble_word.join(","), csrfmiddlewaretoken: '{{ csrf_token }}'},
//              data: $(this).serialize(),
              success: function(data) {


              },
              complete: function(data) {
                  return;
              },
              error: function (err){
                alert(err);
              }
            });

        });

        $("#ResetBtn").click(function(){
          set_board(previous_board_state);
          scrabble_word = [];

        })
        

        function get_table_value(row, col) {
           if(col >=15) {return false;}
           if(col <0) {return false;}
           if(row >=15) {return false;}
           if(row < 0) {return false;}
           if(isNaN(row)) { return false;}
           if(isNaN(col)) { return false;}
           //get elements of board
            var board = document.getElementById("Board"),
            rows = board.getElementsByTagName('tr'),
            i, j, cell, value;

            var cols = rows[row].getElementsByTagName('td');

            cell = cols[col];

            cell_value = cell.innerHTML;

            //if(!letters.includes(cell_value)){return false;} //replace with check for all valid values (letters, empty, 2W, 3W, 2L, 3L)

            return cell_value;
        }

        function set_table_value(value, row, col) {

           //get elements of board
            var board = document.getElementById("Board"),
            rows = board.getElementsByTagName('tr'),
            i, j, cell, value;

            var cols = rows[row].getElementsByTagName('td');

            cell = cols[col];
            cell.innerHTML = value;            

        }

        function find_word_in_row(row, col) {

           //get elements of board
            var board = document.getElementById("Board"),
            rows = board.getElementsByTagName('tr'),

            line = rows[row].getElementsByTagName('td');

            var row_word_indices = [];
            letter = get_table_value(row,col);
            row_word_indices.push([letter,row,col]);

            //Check for continuation of word after inserted letter
            for (i = col+1; i < 15; i++) {
                letter = line[i].innerHTML;
                if(!letters.includes(letter)){ break;}
                row_word_indices.push([letter,row,i]);
                
            }

            //check if col is already 0

            //check if word started before inserted letter
            for (i = col-1; i >= 0; i--) {
                letter = line[i].innerHTML;
                if(!letters.includes(letter)){ break;}
                row_word_indices.push([letter,row,i]);
                
            }


            row_word_indices.sort(function(a,b) {
                return a[2] - b[2];});

            return row_word_indices;

        }


        function find_word_in_col(row, col) {

           //get elements of board
            var board = document.getElementById("Board"),
            rows = board.getElementsByTagName('tr');

            var col_word_indices = [];
            letter = get_table_value(row,col);
            col_word_indices.push([letter,row,col]);

            //Check for continuation of word after inserted letter
            for (i = row+1; i < 15; i++) {
                line = rows[i].getElementsByTagName('td');
                letter = line[col].innerHTML;
                if(!letters.includes(letter)){ break;}
                col_word_indices.push([letter,i,col]);
            }

            //check if row is already 0 (otherwise  subtracting 1 bad)

            //check if word started before inserted letter
            for (i = row-1; i >= 0; i--) {
                line = rows[i].getElementsByTagName('td');
                letter = line[col].innerHTML;
                if(!letters.includes(letter)){ break;}
                col_word_indices.push([letter,i,col]);
                
            }


            col_word_indices.sort(function(a,b) {
                return a[1] - b[1];});

            return col_word_indices;

        }

        function get_board(board) {

            let row = 0;
            let col = 0;

            let board_array = Array(15).fill().map(() => Array(15).fill(' '));;

            if(board.charAt(0) != '[') { return false;}
            if(board.charAt(board.length-1) != ']') { return false;}

            let i = 0;
            while(i < board.length - 1) {
                i++;

                let char = board.charAt(i);

                if(char == ',') {
                    continue;
                }
                if(char == '[') {
                    continue;
                }
                if(char == ']') {
                    row += 1;
                    col = 0;
                    continue;
                }
                if(char == '\'') {
                    if(board.charAt(i+1) == '\'') {
                        col += 1;
                        i++;
                     }
                    continue;
                }
                if(char == ' ') {
                    continue;
                }


                if(char == '3' || char == '2') {
                    board_array[row][col] = '' + char + board.charAt(i+1)
                    i++;
                }
                else {
                    board_array[row][col] = char;
                }

                 col += 1;

            }

            return board_array;
        }

        function set_board(board_state) {

          board_state_dimensions = getDim(board_state);
          if(board_state_dimensions) {
            if(board_state_dimensions != 15) {
              alert('invalid board state requested');
              alert(board_state_dimensions);
              return false;
            }
          }
          else {
            return false;
          }

          for(let row=0; row < 15; row++) {
            for(let col=0; col < 15; col++) {
              board_value = board_state[row][col];
              if(!scrabble_values.includes(board_value)) { 
                alert('invalid board value');
                return false;
              }
              set_table_value(board_value,row,col);
            }
          }
        }

        function record_board_state() {
          for(let row=0; row < 15; row++) {
            for(let col=0; col < 15; col++) {
              temp = get_table_value(row,col);
              previous_board_state[row][col] = temp;
            }
          }
          
        }


        function getDim(x){
            dim = x[0].length;
            try {
              // throw error if the passed variable is a string or a scalar
              if((isFinite(x) && !x.length) || typeof(x)=='string') throw  'This is a scalar or a string  not an array!';
              for(let i=1; i < x.length; i++) {
                if(dim != x[i].length) {return false;}

              }
            return dim
            } catch (error) {
                return error;
            }
        }

        // Get value from button click
        $("#myBtn").click(function(){
            if(!is_user_turn){ 
              alert('You cannot do things when its not your turn');
              return false;
            }

            var user_input = $("#myInput").val();
            if(scrabble_input_test.test(user_input)){
                scrabble_input = user_input.split('-'); //Get individual components of scrabble move (<letter>-<row>-<col>)
                scrabble_word.push(scrabble_input);
                //alert(scrabble_input);
                new_letter = scrabble_input[0].toUpperCase();
                new_row = scrabble_input[1]-1; //subtract one bc zero indexed
                new_col = scrabble_input[2]-1;

               //get elements of board
//                var board = document.getElementById("Board"), 
//                    rows = board.getElementsByTagName('tr'),
//                    i, j, cell, value;

//                var cols = rows[new_row].getElementsByTagName('td');
                
//                cell = cols[new_col];
//                var cell_val = cell.innerHTML;
                //alert(cell_val);

                //Repeat following score multiplier checks on server
//                if(cell_val=='3W'){word_multiplier = 3;}
//                if(cell_val=='2W'){word_multiplier = 2;}
//                if(cell_val=='3L'){letter_multiplier = 3;}
//                if(cell_val=='2L'){letter_multiplier = 2;}


                if(!letters.includes(get_table_value(new_row,new_col))){
                    input_points.push([new_letter,new_row,new_col]) //if database is 1 indexed, need to add 1
                    input_points.sort( function(a,b) {
                        return a[1]-b[1] + a[2] - b[2]; //sort input word into left-right, top-bottom order
                    });
                   // alert(input_points);
                    old_cell_value = get_table_value(new_row,new_col);
                    set_table_value(new_letter, new_row, new_col)
//                    cell.innerHTML = new_letter; //put input letter into board. Only for show, real thing done on server
                    calculate();
                }
                else{ alert("Invalid Move")} //Don't tell user how its invalid


            } else {
                alert("Invalid Input")}
        });
    });
    </script>

  <style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  contenteditable: true;
  }
  </style>
  </head>
  <body>
    <h1>Scrabble</h1>
      <br>
      <label id="user1"></label>
      <label id="score1"></label>
      <br>
      <label id="user2"></label>
      <label id="score2"></label>
      <br>
      <label id="user3"></label>
      <label id="score3"></label>
      <br>
      <label id="user4"></label>
      <label id="score4"></label>
      <br>
      <br>

       <table>
         <table id="Board">
         <tr>
           <td>3W</td>
	   <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td>3W</td>
         </tr>

         <tr>
           <td> </td>
	   <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
         </tr>

         <tr>
           <td> </td>
	   <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
         </tr>

         <tr>
           <td>2L</td>
	   <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td>2L</td>
         </tr>

         <tr>
           <td> </td>
	   <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
         </tr>

         <tr>
           <td> </td>
	   <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
         </tr>

         <tr>
           <td> </td>
	   <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
         </tr>

         <tr>
	   <td>3W</td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td>3W</td>
         </tr>

         <tr>
           <td> </td>
	   <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
         </tr>

         <tr>
           <td> </td>
	   <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
         </tr>

         <tr>
           <td> </td>
	   <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
         </tr>

         <tr>
           <td>2L</td>
	   <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td>2L</td>
         </tr>

         <tr>
           <td> </td>
	   <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
           <td> </td>
         </tr>

         <tr>
           <td> </td>
	   <td>2W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2W</td>
           <td> </td>
         </tr>

         <tr>
           <td>3W</td>
	   <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>3W</td>
           <td> </td>
           <td> </td>
           <td> </td>
           <td>2L</td>
           <td> </td>
           <td> </td>
           <td>3W</td>
         </tr>

       </table>


    <input type="text" id="myInput">

    <button type="button" id="myBtn">Show Value</button>
    <form method="post" id="WordForm" action="temp">
        {% csrf_token %}
    <!--    {{ form.as_p }} -->
        <input type="submit" id="SubmitBtn" value="Submit Word">
    </form>
    <button type="button" id="SubmitBtn2">Submit Word</button>
    <button type="button" id="ResetBtn">Reset Move</button>
    <label>Points: </label>
    <label id="move_points">0</label>
  </body>
</html>

{% endblock %}

