{% block content %}
<a href="{% url 'testing:dashboard' %}">Back to dashboard</a>



  <head>
    <meta charset="utf-8">
    <title>Find Game</title>
    
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        vertical-align: middle;
        contenteditable: true;
      }

    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script>
    $(document).ready(function(){

        $("#GetMatchesBtn").click(function(){
            url = 'https://swe681project.com/matches/'
            $.ajax({
              url: url,
              type: "GET",
              success: function(data) {

                  if(!data) {
                      alert('No available matches');
                      return;
                  }
                  

                  var html = '<tr><th>game id</th><th>user 1</th><th>user 2</th><th>user 3</th><th>user 4</th><th>number of players</th>';
                  
                  $.each(data,function(key,value){
                      html +='<tr>';
                      html +='<td>'+ value.id + '</td>';
                      html +='<td>'+ value.client1 + '</td>';
                      html +='<td>'+ value.client2 + '</td>';
                      html +='<td>'+ value.client3 + '</td>';
                      html +='<td>'+ value.client4 + '</td>';
                      html +='<td>'+ value.num_players + '</td>';
                      html +='</tr>';
                  });

                  $("#match_tables").dialog({
                      height: 140,
                      modal: true,
                      close: function(event,ui){
                          $("#user_game_tables").show();
                          $("#user_match_tables").show();
                      },
                        
                      
                  });

                  $("#match_tables").show();

                  $("#match_tables").html(html);


              },

              error: function (err){
                //alert(err);
              }
            });
       
            $("#user_game_tables").hide();
            $("#user_match_tables").hide();


        });

        (function updateGameRecaps(){
            url = 'https://swe681project.com/moves/'
            $.ajax({
              url: url,
              type: "GET",
              success: function(data) {

                  if(!data) {
                      alert('No game with that id');
                      return;
                  }
                  

                  var html = '<tr><th>Game ID</th><th>Username</th><th>Move</th>';
                  
                  $.each(data,function(key,value){
                      html +='<tr>';
                      html +='<td>'+ value.game_id + '</td>';
                      html +='<td>'+ value.username + '</td>';
                      html +='<td>'+ value.move + '</td>';
                      html +='</tr>';
                  });

                  $("#game_recap").html(html);


              },

            complete: function() {
              // Schedule the next request when the current one is complete
              setTimeout(updateGameRecaps, 5000);
            },

              error: function (err){
                //alert(err);
              }
            });
       

        })();


        (function updateUserMatches(){
            url = 'https://swe681project.com/user/matches/'
            $.ajax({
              url: url,
              type: "GET",
              success: function(data) {

                  if(!data) {
                      alert('No available matches');
                      return;
                  }
                  

                  var html = '<tr><th>game id</th><th>user 1</th><th>user 2</th><th>user 3</th><th>user 4</th><th>number of players</th>';
                  
                  $.each(data,function(key,value){
                      html +='<tr>';
                      html +='<td>'+ value.id + '</td>';
                      html +='<td>'+ value.client1 + '</td>';
                      html +='<td>'+ value.client2 + '</td>';
                      html +='<td>'+ value.client3 + '</td>';
                      html +='<td>'+ value.client4 + '</td>';
                      html +='<td>'+ value.num_players + '</td>';
                      html +='</tr>';
                  });

                  $("#user_match_tables").html(html);


              },
            complete: function() {
              // Schedule the next request when the current one is complete
              setTimeout(updateUserMatches, 5000);
            },


              error: function (err){
                //alert(err);
              }
          });
       

        })();

        (function updateUserGames(){
            url = 'https://swe681project.com/user/games/'
            $.ajax({
              url: url,
              type: "GET",
              success: function(data) {

                  if(!data) {
                      alert('No available matches');
                      return;
                  }
                  

                  var html = '<tr><th>game link</th><th>user 1</th><th>user 2</th><th>user 3</th><th>user 4</th><th>number of players</th>';

                  $.each(data,function(key,value){
                      id = value.id;
                      game_href = '<a href=' + "{% url 'testing:game'  %}" + id + '/>Link</a>';
                      html +='<tr>';
                      html +='<td>'+ game_href + '</td>';
                      html +='<td>'+ value.client1 + '</td>';
                      html +='<td>'+ value.client2 + '</td>';
                      html +='<td>'+ value.client3 + '</td>';
                      html +='<td>'+ value.client4 + '</td>';
                      html +='<td>'+ value.num_players + '</td>';
                      html +='</tr>';
                  });

                  $("#user_game_tables").html(html);


              },
            complete: function() {
              // Schedule the next request when the current one is complete
              setTimeout(updateUserGames, 5000);
            },


              error: function (err){
                //alert(err);
              }
          });
       

        })();

        (function updateUserStats(){
            url = 'https://swe681project.com/statistics/'
            $.ajax({
              url: url,
              type: "GET",
              success: function(data) {

                  if(!data) {
                      alert('No users found');
                      return;
                  }
                  

                  var html = '<tr><th>username</th><th>win</th><th>loss</th>';

                  $.each(data,function(key,value){
                      html +='<tr>';
                      html +='<td>'+ value.username + '</td>';
                      html +='<td>'+ value.win + '</td>';
                      html +='<td>'+ value.lose + '</td>';
                      html +='</tr>';
                  });

                  $("#user_stats").html(html);


              },
            complete: function() {
              // Schedule the next request when the current one is complete
              setTimeout(updateUserStats, 5000);
            },


              error: function (err){
                //alert(err);
              }
          });
       

        })();


        $("#JoinSubmitBtn").click(function()  {
            id = $("#id_id").val();
            $("#joinform").attr('action', 'https://swe681project.com/join/' + id + '/');	
        })

        $("#joinform").submit(function (event) {
            event.preventDefault();

            url = 'https://swe681project.com/join/' + $("#id_id").val() + '/'

            $.ajax({
              url: url,
              type: $(this).attr('method'),
              data: $(this).serialize(),
              success: function(data) {

                  if(data == 'You\'re already in the game') {
                      alert("You can't join a game you're already part of");
                      return;
                  }

                  if(data == 'Invalid match id') {
                      alert("Bad match id");
                      return;
                  }

                  if(!data) {
                      alert('invalid response');
                      return;
                  }

                  if(data.id) {
                      return;
                  }
                  else {
                      alert('server sent invalid game request');
                  }

              },
              complete: function(data) {
                  return;
              },
              error: function (err){
                //alert(err);
              }
            });


        })

        $("#hostform").submit(function (event) {
            event.preventDefault();

            url = 'https://swe681project.com/host/'

            $.ajax({
              url: url,
              type: $(this).attr('method'),
              data: $(this).serialize(),
              success: function(data) {

                  if(!data) {
                      alert('invalid response');
                      return;
                  }


              },
              complete: function(data) {
                  return;
              },
              error: function (err){
                //alert(err);
              }
            });


        })


    $("#MakeMatchBtn").on('click', function () {

        $("#match_form").dialog({
          height: 140,
          modal: true,
        });

        $("#match_form").show();
    })


    });


    </script>


  </head>

  <body>

    <h1>Select a game to join from the list of matches</h1>
      <form method="post" id="joinform" action="temp">
          {% csrf_token %}
          {{ joinform.as_p }}
          <input type="submit" id="JoinSubmitBtn" value="Join">

      </form>
      <button type="button" id="GetMatchesBtn">Get list of matches</button>
      <br>
      <br>
      <form method="post" id="hostform" action='https://swe681project.com/host/'>
          {% csrf_token %}
          {{ hostform.as_p }}
          <input type="submit" id="HostSubmitBtn" value="Host">

      </form>

      <div id="match_form" style="display:none">
          <form>
              Game ID<input type="text" id="NewGameId" name="id">
              <br>
              Number of players<input type="text" id="NewNumPlayers" name="num_players" value="4">
              <br><br>
              <input type="button" id="MatchSubmitButton" value="Submit">
          </form>
      </div>

      <div id="match_tables" style="display:none">
          <table class="innerTable">
               <tbody>
               </tbody>
          </table>
      </div>

    <h1>Matches you are waiting on</h1>
    <br>
      <div id="user_match_tables">
          <table class="innerTable">
               <tbody>
               </tbody>
          </table>
      </div>
    <br>

    <h1>Your games</h1>
    <br>
      <div id="user_game_tables">
          <table class="innerTable">
               <tbody>
               </tbody>
          </table>
      </div>
    <br>

    <h1>User stats</h1>
    <br>
      <div id="user_stats">
          <table class="innerTable">
               <tbody>
               </tbody>
          </table>
      </div>
    <br>

      <div id="game_recap"">
          <table class="innerTable">
               <tbody>
               </tbody>
          </table>
      </div>



  </body>



{% endblock %}
